:root {
  --caption-medium-font-family: "Poppins", Helvetica;
  --caption-medium-font-size: 12px;
  --caption-medium-font-style: normal;
  --caption-medium-font-weight: 500;
  --caption-medium-letter-spacing: 0px;
  --caption-medium-line-height: 150%;
  --colors-labels-vibrant-controls-primary: rgba(64, 64, 64, 1);
  --colors-labels-vibrant-controls-secondary: rgba(140, 140, 140, 1);
  --headline-font-family: "Poppins", Helvetica;
  --headline-font-size: 16px;
  --headline-font-style: normal;
  --headline-font-weight: 500;
  --headline-letter-spacing: 0px;
  --headline-line-height: 150%;
  --indigo: rgba(52, 122, 226, 1);
  --main-color: rgba(0, 136, 255, 1);
  --primary: rgba(0, 0, 0, 1);
  --red: rgba(255, 59, 48, 1);
  --secondary: rgba(124, 141, 181, 1);
  --white: rgba(255, 255, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-labels-vibrant-controls-primary: rgba(64, 64, 64, 1);
  --colors-labels-vibrant-controls-secondary: rgba(140, 140, 140, 1);
}

[data-colors-mode="dark"] {
  --colors-labels-vibrant-controls-primary: rgba(191, 191, 191, 1);
  --colors-labels-vibrant-controls-secondary: rgba(115, 115, 115, 1);
}

[data-colors-mode="IC-light"] {
  --colors-labels-vibrant-controls-primary: rgba(64, 64, 64, 1);
  --colors-labels-vibrant-controls-secondary: rgba(140, 140, 140, 1);
}

[data-colors-mode="IC-dark"] {
  --colors-labels-vibrant-controls-primary: rgba(191, 191, 191, 1);
  --colors-labels-vibrant-controls-secondary: rgba(115, 115, 115, 1);
}
